@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

.div404{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 100px 20px;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
  animation: hueRotate 6s ease-in-out 3s infinite;
}

.h2404{
  text-align: center;
  width: 100%;
  font-size: 34px;
  text-transform: uppercase;
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 2s ease-in 1.5s forwards, flicker4 5s linear 7.5s infinite;
}
.sections404{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .div404 p { 
    margin:0; }

 #error404 {
   color: #fff;
   text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
 }
 #error404 .span1 {
   animation: upper 11s linear infinite;
 }
 #error404 .span2 {
    animation: upper 17s linear infinite reverse;
  }
 #error404 .span2:hover {
     animation: none;
    text-shadow: none;
   opacity:.4;
  }
 #error404 .span3 {
    animation: upper 7s linear infinite reverse;
  }
 #code404 span:nth-of-type(2) {
   animation: lower 10s linear infinite;
 }
 #code404 span:nth-of-type(1) {
   text-shadow: none;
   opacity:.4;
 }
 #code404 span:nth-of-type(1):hover {
    animation: lower 7s linear infinite;
    opacity:1;
  }
 @keyframes upper {
   0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
     opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
   }
   20%,21.999%,63%,63.999%,65%,69.999% {
     opacity:0.4; text-shadow: none; 
   }
 }
 @keyframes lower {
   0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
     opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
   }
   19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
     opacity:0.4; text-shadow: none; 
   }
 }

@keyframes flicker4{
  0%  {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  30% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  31% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  32% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  36% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  37% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  41% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  42% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  85% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  86% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  95% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  96% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes fadeInText{
  1%  {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  70% {color: #ff005d;text-shadow:0px 0px 14px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes hueRotate{
  0%  {
    filter: hue-rotate(0deg);
  }
  50%  {
    filter: hue-rotate(-120deg);
  }
  100%  {
    filter: hue-rotate(0deg);
  }
}
@media screen and (max-width: 950px) {
    .h2404{
        font-size: 32px;
        width: 80%;
    }
    .div404{
        font-size: 75px;
    }
}
@media screen and (max-width: 350px) {
    .h2404{
        font-size: 24px;
        width: auto;
    }
    .div404{
        font-size: 50px;
    }
}
@media screen and (max-width: 210px) {
    .h2404{
        font-size: 14px;
    }
    .div404{
        font-size: 40px;
    }
}