.cards-container-inicio {
    display: flex;
}
.section {
    padding: 3vh 0;
}
.whoistxt {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    width: 95%;
    margin-bottom: 4vh;
}
.whoistitle {
    margin-bottom: 2vh;
    font-size: 50px;
}
.whois {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.whoischilds {
    display: flex;
    justify-content: space-around;
    width: 55%;
    align-items: center;
    flex-direction: column;
}
.whoisimg {
    width: 35%;
    border-radius: 10px;
}
@media screen and (max-width: 750px) {
    .cards-container-inicio {
        flex-direction: column;
    }
    .card-container {
        width: auto !important;
    }
    .cards-container-inicio > .card-container:last-child {
        margin-top: 0;
    }
    .cards-container-inicio > .card-container:first-child {
        margin-bottom: 0;
    }
    .whoistxt {
        font-size: 17px;
    }
    .whoistitle {
        font-size: 40px;
    }
}
@media screen and (max-width: 960px) {
    .whois {
        flex-direction: column;
    }
    .whoisimg {
        margin-bottom: 4vh;
        width: 45%;
    }
    .whoischilds {
        width: 80%;
    }
}
