.cards-container {
    display: flex;
}
@media screen and (max-width: 750px) {
    .cards-container {
        flex-direction: column;
    }
    .card-container {
        width: auto !important;
    }
    .cards-container > .card-container:last-child {
        margin-top: 0;
    }
    .cards-container > .card-container:first-child {
        margin-bottom: 0;
    }
}
