video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.heading-container {
    background-attachment: fixed;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    object-fit: contain;
}

.heading-container > h1 {
    color: #fff;
    font-size: 100px;
}

.heading-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.heading-btns {
    margin-top: 32px;
}

.heading-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .heading-container > h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .heading-container > h1 {
        font-size: 50px;
    }

    .heading-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
}
