@font-face {
    font-family: 'NeonXRound';
    src: url('../../public/fonts/NeonXRound.ttf');
    font-weight: normal;
    font-style: normal;
}
.navbar-space {
    height: 80px;
}

.navbar {
    font-family: 'NeonXRound';
    background: #23272a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1500px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 100%;
}
.logo-container {
    height: 100%;
}

.logo-image {
    height: 80%;
}

.nav-menu {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    height: 80px;
    align-items: center;
    /* box-shadow: inset 0 -10px 10px -15px #fff; */
}

.nav-links {
    color: #ddbbff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.nav-links:hover,
.menu-button:hover,
.dropdown-button:hover {
    text-shadow: 0px 0px 2vmin #0095ff;
    color: #fff;
    transition: all 0.2s ease-out;
}
.nav-links:active,
.menu-button:active,
.dropdown-button:active {
    text-shadow: 0px 0px 2vmin #ff00ff;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    padding: 0;
    list-style: none;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: -1000%;
    transform: translate(-50%, 0);
    background-color: #2c2f33;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
}

.dropdown-links {
    float: none;
    padding: 22px 26px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #ddbbff;
    text-decoration: none;
    margin: 0;
}

.dropdown-item:first-child .dropdown-links {
    border-radius: 20px 20px 0px 0px;
}
.dropdown-item:last-child .dropdown-links {
    border-radius: 0px 0px 20px 20px;
}
.dropdown-item:only-child .dropdown-links {
    border-radius: 20px;
}

.dropdown-links:hover {
    background-color: #383e42;
    filter: brightness(100%);
}
.dropdown-links:active {
    filter: brightness(100%);
    background-color: #23272a;
}
@media screen and (min-width: 961px) {
    .dropdown:hover .dropdown-content {
        display: block;
        opacity: 1;
        top: 80%;
        transition: opacity 0.3s ease-out;
    }
}

.nav-links-mobile,
.dropdown-button,
.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        background: #2c2f33;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        margin-bottom: 200px;
        top: 80px;
        left: -100%;
        transition: all 0.5s ease;
        -ms-overflow-style: none; /* IE & Edge */
        scrollbar-width: none; /* Firefox */
    }
    /* Chrome, Safari & Opera */
    .nav-menu::-webkit-scrollbar {
        display: none;
    }

    .nav-menu.active {
        background: #2c2f33;
        left: 0;
        transition: all 0.5s ease;
        box-shadow: 5px 0 5px -2px #23272a;
        overflow-y: scroll;
    }

    .dropdown-content {
        all: unset;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translate(-50%);
        box-shadow: inset 0px 0px 7px -1px black;
        background-color: #383e42;
        border-radius: 0px 0px 20px 20px;
        margin-top: 0%;
        visibility: hidden;
        max-height: 0px;
        opacity: 0;
        width: 70%;
        margin-left: 50%;
        z-index: -1;
        animation: dropdownOut 0.4s;
    }
    @keyframes dropdownIn {
        0% {
            max-height: 0px;
            visibility: hidden;
            opacity: 0;
        }

        75% {
            opacity: 1;
        }
        100% {
            visibility: visible;
            max-height: 250px;
            opacity: 1;
        }
    }
    @keyframes dropdownOut {
        0% {
            max-height: 250px;
            visibility: visible;
            opacity: 1;
        }

        75% {
            opacity: 0;
        }
        100% {
            max-height: 0px;
            visibility: hidden;
        }
    }

    .dropdown-links:hover {
        background-color: transparent;
        text-shadow: 0px 0px 2vmin #0095ff;
        color: #fff;
        transition: all 0.2s ease-out;
    }
    .dropdown-links:active {
        text-shadow: 0px 0px 2vmin #ff00ff;
        color: #fff;
        transition: all 0.2s ease-out;
    }

    .dropdown {
        flex-direction: column;
        align-items: center;
        position: static;
    }

    .nav-item {
        width: 100%;
        display: table;
        background-color: #2c2f33;
    }
    .nav-item:first-child {
        margin-top: 1.5rem;
    }
    .nav-item.active .dropdown-button {
        transform: rotate(90deg);
    }

    .nav-item.active .dropdown-content {
        max-height: 250px;
        visibility: visible;
        opacity: 1;
        animation: dropdownIn 0.4s;
    }
    .nav-links {
        justify-content: center;
        padding: 1.5rem;
        width: 40%;
        margin: 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .dropdown-button {
        position: absolute;
        display: block;
        background: none;
        border: none;
        font-size: 28px;
        color: #ddbbff;
        width: 32px;
        height: 32px;
        left: 70%;
        top: 25%;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .nav-div {
        position: relative;
        background-color: #2c2f33;
        z-index: 1;
    }

    .menu-icon {
        display: flex;
        position: absolute;
        top: 50%;
        right: 0;
        height: 32px;
        transform: translate(-100%, -50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .menu-button:hover {
        all: unset;
    }
    .menu-button:active {
        filter: drop-shadow(0px 0px 1vmin #ff00ff);
    }
    .menu-button {
        position: relative;
        font-size: 70%;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        height: 100%;
        padding: 0;
        color: #ddbbff;
    }

    .button-hamburguer {
        width: 32px;
        height: 4px;
        background: #ddbbff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.25s ease-in-out;
    }
    .button-hamburguer::before,
    .button-hamburguer::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 4px;
        background: #ddbbff;
        left: 50%;
        border-radius: 5px;
        transition: all 0.25s ease-in-out;
    }
    .button-hamburguer::before {
        transform: translate(-50%, -10px);
    }
    .button-hamburguer::after {
        transform: translate(-50%, 10px);
    }
    .button-hamburguer.active {
        transform: translateX(200%);
        background: transparent;
        box-shadow: none;
    }
    .button-hamburguer.active::before {
        transform: rotate(-45deg) translate(-55px, -55px);
    }
    .button-hamburguer.active::after {
        transform: rotate(45deg) translate(-55px, 55px);
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 1rem auto 7rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }
    .nav-links-mobile:hover {
        text-shadow: 0px 0px 2vmin #0095ff;
        box-shadow: inset 0px 0px 2vmin -1vmin #0095ff,
            0px 0px 2vmin -1vmin #0095ff;
        transition: all 0.3s ease-out;
    }
    .nav-links-mobile:active {
        text-shadow: 0px 0px 2vmin #ff00ff;
        box-shadow: inset 0px 0px 2vmin -1vmin #ff00ff,
            0px 0px 2vmin -1vmin #ff00ff;
        transition: all 0.3s ease-out;
    }
}
