@font-face {
    font-family: 'NeonXRound';
    src: url('../public/fonts/NeonXRound.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #2c2f33;
    overflow-y: overlay;
    overflow-x: hidden;
}
#root {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NeonXRound';
}
body::-webkit-scrollbar {
    display: block;
    width: 7px;
    z-index: 0;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 24px;
}
body.scrolling::-webkit-scrollbar-thumb {
    background-color: #a7a1a19d;
    border: 5px solid transparent;
    border-radius: 24px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #a7a1a19d;
}
body::-webkit-scrollbar-thumb:active {
    background-color: #7272729d;
    box-shadow: none;
}
.container{
    margin-top: 3vh;
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: center;
}